[submodule "third_party/EasyIterator"]
	path = third_party/EasyIterator
	url = https://github.com/TheLartians/EasyIterator.git
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak.git
